* {
  font-family: "ubuntu";
}

/*prefs page*/
#prefs {
  text-align: center;
  border: solid blue 1;
  -webkit-border-radius: 10;
  background-color:-webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, rgb(255,255,255)),
      color-stop(0.55, rgb(51,102,153)));
}

#prefs .error {
  color:red;
  font-weight: bold;
}

#muted  li{
  list-style-type: none;
}
/*popup*/
#popup {
  max-height: 560px;
  width: 350px;
  font-size: 10pt;
}

#popup * {
  margin: 0;
  padding: 0;
  border: none;
}

#headBar {
  display: block;
  height: 17px;
}

#headBar li {
  display : inline;
  padding : 0 0.5em;
}

#left {
  float: left;
}

#right {
  float: right;
}

#headBar li {
  font-size : 8pt;
}

#entries {
  overflow: auto;
}

#entries ul {
  list-style-type: none;
  font-weight: bold;
  color: white;
  background-color: #2F3740;
  width: 100%;
  text-align: center;
}

#mp {
  background-color: red;
}

#entries ul>li>ul {
  font-weight: normal;
  color: black;
  background-color: white;
  text-align: left;
}

#entries ul>li>a {
  color: white;
}

#entries ul>li>ul>li>a{
  color: black;
}

#entries a {
  text-decoration:none;
  color: black;
  margin-bottom: 15px;
}

#entries  a:hover {
  text-decoration: underline;
}
