* {
  font-family: "ubuntu";
}

/*prefs page*/
#prefs {
  text-align: center;
  border: solid blue 1;
  -webkit-border-radius: 10;
  background-color:-webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, rgb(255,255,255)),
      color-stop(0.55, rgb(51,102,153)));
}

#prefs .error {
  color:red;
  font-weight: bold;
}

#muted  li{
  list-style-type: none;
}
/*popup*/
#popup {
  width: 350px;
  height: 200px;
  font-size: 10pt;
}

#popup * {
  margin: 0;
  padding: 0;
  border: none;
}

#headBar {
  list-style-type: none;
}

#headBar li {
  display : inline;
  padding : 0 0.5em; 
}

#headBar li.left {
  float: left;
}

#headBar li.right {
  float: right;
}

#headBar li {
  font-size : 8pt; 
}

#entries {
  position: absolute;
  height: 185px;
  width: 95%;
  overflow: auto;
  margin-top: 15px;
  list-style-type: disc;
}

#entries ul {
  font-weight: bold;
  color: white;
  background-color: #369;
  width: 100%;
  text-align: center;
}

#mp {
  background-color: red;
}

#entries ul>li>ul {
  font-weight: normal;
  color: black;
  background-color: white;
  text-align: left;
}

#entries ul>li>a {
  color: white;
}

#entries ul>li>ul>li>a{
  color: black;
}

/*
#entries img {
  float: right;
}

#entries ul>li>ul>li>a:first-child>span {
  margin-right: 18px;
  overflow: hidden;
  height:17px;
  width:180px;
}
#entries ul>li>ul>li>a.mute {
  float: right;
  vertical-align: middle;
}
*/
#entries a {
  text-decoration:none;
  color: black;
  margin-bottom: 15px;
}

#entries  a:hover {
  text-decoration: underline;
}
