/*prefs page*/
#prefs {
  text-align: center;
  border: solid blue 1;
  -webkit-border-radius: 10;
  background-color:-webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, rgb(255,255,255)),
      color-stop(0.55, rgb(51,102,153)));
}

#prefs .error {
  color:red;
  font-weight: bold;
}

/*popup*/
#popup {
  width: 150px;
}

#popup * {
  margin: 0;
  padding: 0;
  border: none;
}

ul#headBar {
  list-style-type: none;
}

ul#headBar li {
  display : inline;
  padding : 0 0.5em; 
}

ul#headBar li.left {
  float: left;
}

ul#headBar li.right {
  float: right;
}

#headBar > li {
  font-size : 8pt; 
}

