* {
    font-family: "ubuntu";
}

/*prefs page*/
#prefs {
    text-align: center;
}

#prefs div {
    clear: both;
    font-size: small;
}

#prefs div label {
    margin-bottom: 10px;
    width: 50%; 
    float: left;
    text-align: right;
}

#prefs div label[title] {
    cursor: help;
}

#prefs div input {
    margin-left: 15px;
    width: 5%;
    text-align: left;
    float: left;
}
#prefs div a {
    text-align: left;
    float: left;
}

#prefs .error {
    color:red;
    font-weight: bold;
}

#muted {
    width: 50%;
}

#muted    li{
    list-style-type: none;
    text-align: right;
}

#muted_label {
    font-size: medium;
    font-weight: bold;
    text-decoration: underline;
}

/*popup*/
#popup {
    max-height: 560px;
    width: 355px;
    font-size: 10pt;
    background-color: white;
}

#popup * {
    margin: 0;
    padding: 0;
    border: none;
}

#headBar {
    display: block;
    height: 20px;
    padding : 0 0.5em;
}

#headBar li {
    display : inline;
    font-size : 8pt;
}

#headBar img {
    width: 15px;
    cursor: pointer;
}

#left {
    float: left;
    margin-top: 2px;
}

#right {
    float: right;
}

#right img {
    margin-left: 15px;
}

#entries {
    overflow: auto;
}

#entries ul {
    list-style-type: none;
    font-weight: bold;
    color: white;
    background-color: #2F3740;
    width: 100%;
    text-align: center;
}

#mp {
    background-color: red;
}

#entries ul>li>a {
    cursor: pointer;
}

#entries ul>li>ul {
    font-weight: normal;
    color: black;
    background-color: white;
    text-align: left;
}

#entries ul>li>a {
    color: white;
}

#entries ul>li>ul>li>a{
    color: black;
}

#entries a {
    text-decoration:none;
    color: black;
    margin-bottom: 15px;
}

#entries a:hover {
    text-decoration: underline;
}
